<!-- single content projection  -->
<!-- <div class="row" *ngFor="let session of sessions">
  <div class="col-md-10">
    <collapsible-well [title]="session.name">
      <h6>{{session.presenter}}</h6>
      <span>Duration: {{session.duration}}</span>
      <br />
      <span>Level: {{session.level}}</span>

      <p>{{session.abstract}}</p>
    </collapsible-well>
  </div>
</div> -->

<!-- multi slot content projection -->
<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-1">
    <div *ngIf="auth.isAuthenticated()">
      <upvote (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
    </div>
  </div>
  <div class="col-md-10">
    <collapsible-well [title]="session.name">
      <div well-title>
        {{session.name}}
        <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color: red"></i>
      </div>
      <div well-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span>

        <p>{{session.abstract}}</p>
      </div>
    </collapsible-well>
  </div>
</div>

<!-- <div *ngFor="let queue of fileUploadQueues">
  <ng-container *ngIf="queue.result.file as file">
       <div class="icon" *ngIf="file.icon">{{ file.icon }}</div>
       <div class="name" *ngIf="file.name">{{ file.name }}</div>
       <div class="size" *ngIf="file.size">{{ file.size }}</div>
  </ng-container>
</div -->

<!-- <div *ngIf="(data$ | async).length > 0; else emptyTemplate;">
  ...
</div>
<ng-template #emptyTemplate>
  no data
</ng-template> -->

<!-- <ng-container *ngIf="type === 1">
  ...
</ng-container>
<ng-container *ngIf="type === 2">
  ...
</ng-container>
<ng-container *ngIf="type === 3">
  ...
</ng-container> -->

<!-- The alias "data" can be reused in its scope -->
<!-- <div *ngFor="let item of data$ | async as data">
  <span>{{data.length}}</span>
</div> -->
