/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

@import "~ngf-bootstrap/dist/bootstrap.min.css";
@import "toastr";
@import '~@angular/cdk/overlay-prebuilt.css';

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.well.hoverwell.thumbnail {
  text-align: left;
}

.green {
  color: rgb(35, 240, 206);
}

.bold {
  font-weight: bold;
}

my-tooltip {
  color: rgb(0, 81, 255);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.cdk-overlay-connected-position-bounding-box {
  /* background-color: aqua; */
}
